<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordankelvin.uasakb10116277">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logospartan"
        android:label="UASAKB(10116277)"
        android:roundIcon="@mipmap/logospartan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RealmD.DaftarMahasiswa"></activity>
        <activity android:name=".RealmD.MahasiswaActivity" />
        <activity android:name=".RealmD.DetailActivity" />
        <activity
            android:name=".Splash.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginLogout.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginLogout.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginLogout.LogoutActivity" />
    </application>

</manifest>